@media screen and (max-width: 414px) {
  .container {
    /*  background-color: #dbdbdb; */
    background-image: url("./bgw.jpg");
  }
  .background {
    background-color: #dbdbdb;
  }

  .titulo h1 {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5%;
    font-family: "Merienda", cursive;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner {
    height: 200px;
    /*  background-image: url("./bgw.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  .banner img {
    margin-top: 55px;
    height: 150px;
    margin-right: 10px;
  }
  .navbar {
    height: 55px;
    background-color: #869b34;
  }
  .navbar img {
    height: 30px;
    margin-top: 10px;
  }
}
