@media screen and (max-width: 414px) {
  .titulo {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    font-family: "Merienda", cursive;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}
