@media screen and (max-width: 414px) {
  .container {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 4vh;
    width: 100%;
    bottom: 0;
    background-color: yellowgreen;
  }
  .imagen {
    position: absolute;
    background-color: yellow;
    width: 55px;
    height: 55px;
    border-radius: 50%;

    margin-top: -20px;
    text-align: center;
  }
  .imagen img {
    text-align: center;
    height: 30px;
  }
}
