@media screen and (max-width: 414px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .container input {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(203, 203, 203);
    width: 300px;
    border-radius: 10px;
    height: 35px;
  }
}
