.container {
  /*   background-color: teal; */
  height: 80vh;
}

.subcontainer {
  height: 76vh;
  margin-top: 4vh;
  background-image: url("./bgpizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.titulo {
  display: flex;
  justify-content: center;
  font-family: "Merienda", cursive;
}
.titulo h1 {
  color: rgb(88, 248, 173);
  margin-top: 40vh;
  font-size: 6rem;
  text-shadow: rgb(255, 255, 255) 1px 3px;
  backdrop-filter: blur(2px);
}
.subtitulo {
  display: flex;
  justify-content: center;
}
.subtitulo p {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  margin: 0;
  margin-top: -2px;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitulo a {
  color: rgb(88, 248, 173);
}

.subtitulo a:hover {
  border-bottom: 2px solid rgb(88, 248, 173);
}

@media screen and (max-width: 1566px) {
  .titulo h1 {
    color: rgb(88, 248, 173);
    margin-top: 60vh;
    font-size: 4rem;
    text-shadow: rgb(255, 255, 255) 1px 3px;
  }
  .subtitulo p {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin: 0;
    margin-top: -35px;
  }
}
